body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgb(189, 197, 211);
    padding: 1rem;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

#userInput {
    width: 17.6rem;
    height: 6rem;
    text-align: end;
}

.btn {
    width: 4rem;
    height: 3rem;
    margin: 0.2rem;
    border-radius: 1px;
    box-shadow: 1.25px 2.5px #888888;
}

.btnEqul {
    width: 18.2rem;
    height: 3rem;
    box-shadow: 1.25px 2.5px #888888;
    border-radius: 1px;
}